.contenedor-about {
  background: #e1e2e1;
  margin: 0;
  height: 100vh;
}

.contenedorsinnav {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.columnaderecha {
  padding: 20px;
  padding-top: 30px;
}

.columnaderecha > img {
  height: 500px;
  width: 500px;
  border-radius: 20px;
}

.columnaizquierda {
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 30px;
  padding-right: 20px;
}

.filaarriba {
  border: #000a12 1px solid;
  border-radius: 20px;
}

.filaarriba > h1 {
  color: #000a12;
  padding: 15px;
}

.filaarriba > p {
  color: #263238;
  padding: 15px;
  text-align: justify;
}
.filaskill {
  margin-top: 20px;
  grid-template-columns: auto auto;
  display: grid;
  text-align: left;
}
.hardskill {
  padding: 15px;
}

.hardskill > ul > li {
  list-style-type: disc;
  list-style-position: inside;
  padding: 2px;
  text-align: left;
}
.hardskill > ul {
  margin-top: 10px;
}

.softskill {
  padding: 15px;
}
.softskill > ul {
  list-style: none;
  padding: 10px;
}
.softskill > ul > li {
  list-style-type: disc;
  list-style-position: inside;
  padding: 2px;
  text-align: left;
}

.filaabajo {
  margin-top: 20px;
}

.filaabajo > h2 {
  color: #000a12;
  padding: 15px;
}

.skill {
  padding: 15px;
}

.skill > h3 {
  color: #000a12;
  font-size: 15px;
  padding-bottom: 5px;
}

.progress {
  background: rgb(189, 189, 189);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 10px;
  width: 100%;
}
.JS {
  border: rgb(189, 189, 189) 1px solid;
  box-shadow: 0 10px 40px -10px #f0db4f;
  border-radius: 100px;
  background: #f0db4f;
  height: 10px;
  width: 0;
}
.TS {
  border: rgb(189, 189, 189) 1px solid;
  box-shadow: 0 10px 40px -10px #007acc;
  border-radius: 100px;
  background: #007acc;
  height: 10px;
  width: 0;
}
.RS {
  border: rgb(189, 189, 189) 1px solid;
  box-shadow: 0 10px 40px -10px #61dbfb;
  border-radius: 100px;
  background: #61dbfb;
  height: 10px;
  width: 0;
}
.NS {
  border: rgb(189, 189, 189) 1px solid;
  box-shadow: 0 10px 40px -10px #3c873a;
  border-radius: 100px;
  background: #3c873a;
  height: 10px;
  width: 0;
}
.contenedor-about {
  overflow-y: scroll;
}
@media (max-width: 1115px) {
  .contenedor-about {
    overflow-y: scroll;
  }
  .contenedor-about * {
    overflow-y: visible;
  }
  .contenedorsinnav {
    display: grid;
    grid-template-columns: auto;
  }
  .columnaderecha {
    display: none;
  }
  .columnaizquierda {
    padding: 20px;
  }
  .hardskill > ul > li {
    font-size: 10px;
  }
  .softskill > ul > li {
    font-size: 10px;
  }
  .hardskill > h2 {
    font-size: 20px;
  }
  .softskill > h2 {
    font-size: 20px;
  }
}
