.contenedor-about {
  background: #e1e2e1;
  margin: 0;
  height: 100vh;
}

.contenedorsinnav {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.columnaderecha {
  padding: 20px;
  padding-top: 30px;
}

.columnaderecha > img {
  height: 500px;
  width: 500px;
  border-radius: 20px;
}

.columnaizquierda {
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 30px;
  padding-right: 20px;
}

.filaarriba {
  border: #000a12 1px solid;
  border-radius: 20px;
}

.filaarriba > h1 {
  color: #000a12;
  padding: 15px;
}

.filaarriba > p {
  color: #263238;
  padding: 15px;
  text-align: justify;
}

.filaabajo {
  margin-top: 20px;
}

.filaabajo > h2 {
  color: #000a12;
  padding: 15px;
}

.skill {
  padding: 15px;
}

.skill > h3 {
  color: #000a12;
  font-size: 15px;
  padding-bottom: 5px;
}

.progress {
  background: #4f5b62;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 10px;
  width: 100%;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #000a12;
  border-radius: 100px;
  background: #000a12;
  height: 10px;
  width: 0;
}
.contenedor-about {
  overflow-y: scroll;
}
@media (max-width: 1115px) {
  .contenedor-about {
    overflow-y: scroll;
  }
  .contenedorsinnav {
    display: grid;
    grid-template-columns: auto;
  }
  .columnaderecha {
    display: none;
  }
  .columnaizquierda {
    padding: 20px;
  }
}
