.contenedor-home {
  background: #e1e2e1;
  margin: 0;
  height: 100vh;
}
.contenedorsnav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.contenedorsnav h1 {
  text-align: center;
  padding-top: 20px;
  color: #263238;
}
.estilonombre {
  color: #000a12;
  font-size: 44px;
}
.contenedorsocial {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.myimages img {
  border-radius: 500px;
  width: 400px;
  height: 400px;
  margin-top: 21px;
  box-shadow: -4px -1px 6px -2px #705117;
  -webkit-box-shadow: -4px -1px 6px -2px #705117;
  -moz-box-shadow: -4px -1px 6px -2px #705117;
}
.myimages {
  text-align: center;
}
.socialmedia {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  padding-top: 20px;
  font-size: 22px;
}

.socialmedia a {
  color: #263238;
}

.facebook:hover {
  color: #3b5998;
}
.twitter:hover {
  color: #00acee;
}
.linkedin:hover {
  color: #0e76a8;
}

.git:hover {
  color: #e2432a;
}
.ig:hover {
  color: #c51d34;
}

.leng {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  padding-top: 8px;
}

.lenguage {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lengitem img {
  width: 30px;
  height: 20px;
}

button {
  background: #e1e2e1;
  border: none;
}

@media screen and (max-width: 600px) {
  .myimages img {
    border-radius: 500px;
    width: 300px;
    height: 300px;
    margin-top: 21px;
    box-shadow: -4px -1px 6px -2px #705117;
    -webkit-box-shadow: -4px -1px 6px -2px #705117;
    -moz-box-shadow: -4px -1px 6px -2px #705117;
  }
}

@media (max-width: 1200px) {
  .contenedor-home {
    overflow-y: visible;
  }
}
