/* Maquetado */
.contenedor-nav {
  display: grid;
  grid-template-columns: 1fr;
}

/* Menu */
.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  background: #ab47bc;
}

.menu .item {
  padding: 1rem;
  font-size: 18px;
  transition: transform 250ms;
}

.item .link {
  color: #fafbfd;
}
.item .active {
  color: #e1e2e1;
}

.item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.item:hover::after {
  width: 100%;
  background-color: #fafbfd;
}

/* Icono */

.iconResponsive {
  display: none;
}

/* Vista Movil */
@media (max-width: 768px) {
  .menu.active {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    text-align: center;
    left: 0px;
    padding: 70px;
    transition: all 0.5s ease;
    z-index: 10;
    margin: 0;
    height: 100vh;
  }
  .iconResponsive {
    cursor: pointer;
    background: #ab47bc;
    color: #fafbfd;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    display: block;
    text-align: right;
    z-index: 100;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    text-align: center;
    z-index: 10;
    width: 100%;
    position: absolute;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 100vh;
  }
}
