.contenedor-projects {
  background: #e1e2e1;
  margin: 0;
  height: 100vh;
}

.contenedorsinnavprojects {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 50px;
  text-align: center;
  justify-content: center;
  padding: 70px;
}

.project {
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 250px;
  height: auto;
  transition: transform 0.3s;
  margin: 20px;
}

.project:hover {
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px #263238;
}

.project > img {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bodycard {
  padding: 10px;
}

.bodycard > h1 {
  font-size: 22px;
  color: #000a12;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bodycard > p {
  font-size: 16px;
  color: #263238;
  text-align: justify;
  padding-bottom: 10px;
}

.bodycard button {
  background: #000a12;
  border-radius: 20px;
  border: none;
  color: #fafbfd;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .contenedorsinnavprojects {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    text-align: center;
  }
  .contenedor-projects * {
    overflow-y: visible;
  }
}

@media (max-width: 680px) {
  .contenedorsinnavprojects {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    text-align: center;
  }
  .project {
    text-align: center;
  }
}
